body {
    color: black;
    background: rgb(94, 211, 90);
    margin: 0px;
    font-family: "Chakara Petch", sans-serif;
    margin-bottom: 100px;
}

head {
    border-bottom: solid 2px rgb(34, 197, 34);
    padding: 20px;
    font-size: 32px;
    color: aliceblue;
}

.chamada{
    background: rgb(99, 230, 87);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

img {
    height: 200px;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0;
    border: 5px solid rgb(13, 83, 40);
}

.categoria h2{
    color: rgb(13, 56, 7);
}